{
	title = "BBM+";
	items = (
		{
			cell = PSGroupCell;
			footerCellClass = TapSharpHeaderCell;
		},

		{
			cell = PSGroupCell;
		},
		{
			cell = PSSwitchCell;
			default = 1;
			defaults = "com.tapsharp.bbmplus";
			key = "Enabled";
			label = ENABLED;
		},

		{
			cell = PSGroupCell;
			footerCellClass = TapSharpFooterCell;
		}
	);
}